:root{ 
	/* Colors */
	/* Primary */
    --background-course: rgb(244, 236, 236);
    --button-color: rgb(74, 173, 230);
  
	/* Neutral */
	--white: hsl(0, 0%, 100%);
	--very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);

  --font-family: 'Libre Franklin', sans-serif;
}
*{
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
    font-weight: 500;
    font-family: var(--font-family);
}
ul, li, nav,a {
    list-style: none;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 20px 12% 10px 12%;
}
.delete-course {
    background-color: red;
    border-radius: 50%;
    padding: 5px 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.cart-shopping .shopping-info {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
    min-height: 100px;
    width: 100%;
    width: 300px;
    background-color: white;
    top: 70px;
    right: 10px;
    padding-bottom: 20px;
}

.cart-shopping:hover .shopping-info {
    visibility: visible;
    opacity: 1;
    z-index: 1;

}
.shopping-info table{
    padding: 10px;
}
.shopping-info tr {
    display: grid;
    grid-template-columns: 0.6fr 1.5fr 0.9fr 0.9fr 0.9fr;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;

}
.shopping-info td img{
    width: 60px;
}
.course-price{
    font-size: 12px;
}

.shopping-info td {
    width: 100%;
    font-size: 14px;
    padding: 5px 0px;
}
.shopping-info button{
    width: 93% ;
    height: 40px;
    background-color: white;
    outline: none;
    border: solid 1px gray;
    border-radius: 5px;
    margin-top: 20px;
    margin: 0px 10px;
}
.learn-main{
    height: 300px;
    background-image: url('../img/hero.jpg');
    background-size: cover;
    width: 100vw;
    color: white;
    text-align: left;
    padding: 70px 30px 40px 30px ;
}
.learn-main h2{
    margin-bottom: 20px;
    font-size: 28px;
}
.learn-main p{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}
.formulario{
    position: relative;
}
.input-learn{
    width: 100%;
    height: 40px;
}
.input-learn-submit{
    position: absolute;
    top: 10px;
    right: 0;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.learn-info{
    background-image: linear-gradient(to right,rgba(119,31,81,255), rgba(226,77,83,255));
    padding: 50px 30px 7px 30px;
    color: white;
}
.learn-info ul li{
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 50px;
}
.learn-info ul li img{
    height: 38px;
    margin-right: 20%;
}
.learn-info-first-img{
    width: 31px;
}
.learn-info-third-img{
    width: 35px;
}
.learn-info ul li p{
    line-height: 1.5;
    font-size: 15px;
}
.course-card{
    background-color: var(--background-course);
    width: 100vw;
    padding-bottom: 30px;
}
.course-card h1{
    padding: 20px 0px;
    font-size: 40px;
}
.card{
    background-color: white;
    margin: 20px 40px;
}
.card button{
    margin-bottom: 20px;
    width: 100%;
    height: 35px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
}
.card-main-images{
    width: 100%;
}
.card h2{
    font-weight: bold;
    font-size: 17px;
    margin: 10px 0px;
}
.info{
    margin: 20px;
}
.info img{
    margin: 10px 0px;
} 
.price{
    position: relative;
    margin-bottom: 10px;
    /* display: flex; */
    text-align: right;
}
.first-span{
    position: absolute;
    left: 43%;
}
.second-span{
    font-weight: bold;
    font-size: 18px;
}
.container{
    background-color: var(--background-course);
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 30px 0px;
    
    gap: 10px;
}
.menu a{
    cursor: pointer;
    color: var(--button-color);
}
button:hover{
    cursor: pointer;
    transform: translate(-1px, -1px);
  }
  button:active{
    transform: translate(1px,1px);
  }
  .card button:hover{
    opacity: 0.7;
  }
@media screen and (min-width: 700px){
    .learn-main{
        padding-left: 10%;
    }
    .input-learn{
        width: 430px;
    }
    .input-learn-submit{
        position: absolute;
        top: 10px;
        left: 380px;
    }
    .learn-info ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
    }
    .learn-info ul li img{
        margin-right: 30px;
    }
    .delete-course {
        padding: 5px 10px;
    }
    .cart-shopping .shopping-info {
        width: 400px;
        right: 190px;
    }

    .shopping-info tr {
        grid-template-columns: 1fr 1.6fr 0.8fr 0.8fr 0.8fr;
        grid-gap: 15px;
    } 

    .shopping-info button{
        width: 95% ;
    }
    .shopping-info td img{
        width: 80px;
    }
    .course-price{
        font-size: 14px;
    }
    .course-card{
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 100%;
        max-width: 2000px;
        gap: 20px 20px;
    }
    .card{
        margin:0px 0px;
        /* max-width: 400px; */
    }
    .container{
        /* width: 100vw; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu{
        width: 100%;
        max-width: 2000px;
        display: grid;
        grid-template-columns: repeat(auto-fill,400px);
    }

}


